



#title {
  font-family: monospace;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  background: #b4a9ad;
  padding: 10px;
  border: solid 1px;
  clear: both;
}

.s_types {
  font-size: 30px;
  font-family: monospace;
  width:50%;
  float: left;
  clear: both;
}

.s_location


.s_info {
  width: 50%;
  float: left;
  font-family: cursive;

}

.s_photo {
  width:50%;
  float: right;
}


.specimen_title {
  font-weight: bold;
  width: 100%;
  background: #AAA;
  padding: 10px;
  border: solid 1px #000;
  box-shadow: 7px 7px 10px;
  margin-bottom: 10px;
  clear: both;
}

span[title]:hover{
  content: attr(title);
  text-decoration: underline;

}

span[title]{
  text-decoration: underline;
}
